
body {
    font-family: Verdana;
    margin: 0;
    
}


.top-bar {
	background-color: #252525;
	height: 42px;
    color: #EEE;
    margin-bottom: 15px;
}

.top-bar h2{
    color: #FFF;
	margin: 0;
    margin-left: 20px;

    text-shadow: -1px -1px 3px #8f8f8f, 1px 1px 3px #8f8f8f;
    filter: dropshadow(color=#8f8f8f, offx=1, offy=1);

}

.mini {
	font-size: 10px;
    margin-top: 0;
    margin-left: 20px;
}
.top-bar img {
	border: 0;
}


.container {
	margin: 10px;
    border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
    min-height: 400px;
}


.container h2 {
    margin-left: 20px;
    font-weight: 100;
    font-size: 18px;
    text-shadow: 0px 0px 2px #8f8f8f;
    margin-bottom: 5px;
 }


.container ul {
    padding: 0;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}


.container li {
    list-style-type: None;
    padding: 2px;
}


.container li:hover {
    background-color: #D7FFFF;

}

.container a {
    text-decoration: None;
    color: #3B3B3B;
    font-size: 12px;
 }


.container img {
    margin-right: 10px;
}


.menu {
    margin: 10px;
}


.menu a {
    background-color: #0080C0;
    padding: 5px 15px;
    font-size: 10px;
    color: #FFF;
    text-decoration: None;
}

.footer {
    border-top: 1px solid #444444;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}


.files li{ 
    float: left; 
    width: 30%; 

}


